<!DOCTYPE html>
<html>
<head>
  <title>Auto CR Dashboard</title>
  <link rel="stylesheet" type="text/css" href="fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="solid.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="default-bg">
  <div id="app" v-cloak>
    <div v-if="loading" class="loader">
      <span class="load-text">Loading Airing Shows...</span>
    </div>
    <div :class="['calendar', { rotated: settings.rotated }]" v-if="!loading" v-cloak>
      <cal-day v-for="shows, day in calendar"
        v-bind="{key: day, shows, todo, day, filters, settings}">
      </cal-day>
    </div>
    <div class="tools-container" v-if="!loading">
      <tool icon="filter" title="Filters">
        <toggle v-model="filters.showAll" @input="updateFilters" label="All Shows"></toggle>
        <toggle v-model="filters.crunchy" @input="updateFilters" label="Has Crunchyroll"></toggle>
        <toggle v-model="filters.amazon" @input="updateFilters" label="Has Amazon"></toggle>
      </tool>
      <tool icon="cog" title="Settings">
        <toggle v-model="settings.english"
          @input="updateSettings"
          label="English Titles">
        </toggle>
        <toggle v-model="settings.hideLinks"
          @input="updateSettings"
          label="Links on Hover">
        </toggle>
        <toggle v-model="settings.rotated"
          @input="updateSettings"
          label="Rotated">
        </toggle>
        <dropdown v-model="settings.background"
          @input="updateBG(JSON.parse($event.target.value));updateSettings()"
          label="Background"
          :options="backgrounds">
        </dropdown>
        <toggle v-model="settings.blurBg"
          @input="updateSettings"
          label="Blur Background">
        </toggle>
      </tool>
    </div>
    <div class="tools-container right" v-if="!loading">
      <tool icon="clock" title="Plan to Watch">
        <div v-for="show in ptw" :class="['todo-list-item', {done: !show.airing}]">
          <span class="title">
            {{ show.title }}
          </span>
          <span class="interval">
            <span v-if="show.count">
              {{
                show.end - show.begin <= 0 ?
                show.begin :
                show.begin + '-' + show.end
              }}
            </span>
            <i class="fas fa-question" v-if="!show.count"></i>
          </span>
        </div>
      </tool>
      <tool icon="clipboard-list" title="Todo">
        <div v-for="show in sortedTodo" :class="['todo-list-item', {done: show.count == 0}]">
          <span class="title">
            {{ show.title }}
          </span>
          <span class="interval">
            <span v-if="show.count">
              {{
                show.end - show.begin <= 0 ?
                show.begin :
                show.begin + '-' + show.end
              }}
            </span>
            <i class="fas fa-check" v-if="!show.count"></i>
          </span>
        </div>
      </tool>
    </div>
  </div>

  <script src="vue.min.js"></script>
  <script src="app.js"></script>
</body>
</html>