* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

html {
  background-color: #444;
}

[v-cloak] {
  display: none;
}

body {
  overflow: initial;
  --background: none;
}

body::before {
  content: '';
  position: absolute;
  background: var(--background);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
}

body:hover::before {
  top: 0;
  left: 0;
}

body.blur::before {
  filter: blur(4px);
}

body.default-bg::before {
  --background: linear-gradient(to bottom, #fff 20%, #f5f5f5 50%, #aaa);
}

body.grey-bg::before {
  --background: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 0.6);
}

.loader {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.load-text {
  font-weight: bold;
  padding: 8px;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
}

.load-text::after {
  animation: loading 1s ease-in-out alternate infinite;
  background-color: #df6300;
  border-radius: 2px;
  bottom: 8px;
  content: '';
  height: 4px;
  left: 16px;
  position: absolute;
  width: 50px;
}

@keyframes loading {
  0% {
    left: 16px;
    width: 50px;
  }
  50% {
    width: 80px;
  }
  100% {
    left: calc(100% - 66px);
    width: 50px;
  }
}

.calendar {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 800px;
  min-width: 120px;
  padding: 0 20px;
  width: 100%;
  padding-bottom: 32px;
}

.calendar::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.calendar-day {
  margin: 0 2px;
  width: 100px;
}

.calendar-shows {
  margin-top: 32px;
}

.calendar-day header {
  z-index: 100;
  top: 0;
  height: 30px;
  width: 100px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  position: fixed;
}

.calendar-show {
  border-radius: 4px;
  margin: 4px 0;
  width: auto;
  padding-top: 100%;
  position: relative;
  transition: opacity 0.5s ease;
}

.calendar-show:not([my-list]):not(:hover) {
  opacity: 0.5;
}

.calendar-show .time {
  background-color: rgba(0, 0, 0, .5);
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  bottom: 0;
  color: #fff;
  padding: 2px 4px;
  position: absolute;
  font-size: 12px;
  right: 0;
}

.calendar-show .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  font-size: 10px;
  padding: 8px;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}

.calendar-show:hover .title {
  opacity: 1;
}

.calendar-show .todo {
  background-color: rgba(0, 0, 255, .5);
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff;
  font-size: 12px;
  left: 0;
  padding: 2px 4px;
  text-align: center;
  min-width: 10px;
  position: absolute;
  top: 0;
}

.calendar-show .episode {
  background-color: rgba(0, 0, 0, .5);
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  font-size: 12px;
  left: 0;
  padding: 2px 4px;
  text-align: center;
  min-width: 10px;
  position: absolute;
  bottom: 0;
}

.calendar-show .links {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.rotated.calendar {
  flex-direction: column;
  padding-left: 0;
  max-width: 100%;
}

.rotated .calendar-day {
  display: flex;
  flex-direction: row;
  width: auto;
}

.rotated .calendar-shows {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;
}

.rotated .calendar-show {
  width: 100px;
  height: 100px;
  padding-top: 0;
  margin: 2px 2px;
}

.rotated .calendar-day header {
  height: 100px;
  position: relative;
  transform: rotate(-90deg);
  width: 30px;
}

.rotated.calendar::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.rotated.calendar + .tools-container {
  left: 30px;
}

.links a {
  border-radius: 4px;
  border: thin solid white;
  display: inline-block;
  height: 15px;
  margin: 2px 2px;
  position: relative;
  width: 15px;
}

.links a::after {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
  bottom: 0;
  color: #fff;
  font-size: 10px;
  left: 50%;
  opacity: 0;
  padding: 2px 4px;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, calc(100% + 5px));
  z-index: 100;
}

.links a:hover::after {
  opacity: 1;
}

.links .mal {
  background-color: #2e51a2;
}

.links .mal::after {
  content: 'MyAnimeList';
}

.links .crunchy {
  background-color: #df6300;
}

.links .crunchy::after {
  content: 'Crunchyroll';
}

.links .amazon {
  background-color: #fff;
  border-color: #f90;
}

.links .amazon::after {
  content: 'Amazon';
}

.calendar-show img {
  border-radius: 4px;
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: 50% 0;
  position: absolute;
  top: 0;
  transition: object-position .5s ease;
  width: 100%;
}

.calendar-show:hover img {
  object-position: 50% 100%;
}

/*@media screen and (max-width: 650px) {
  .calendar-show .episode, .calendar-show .links {
    display: none;
  }

  .calendar-day header {
    font-size: 10px;
  }

  .time {
    font-size: 10px;
  }
}*/

.tools-container {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  z-index: 100;
  transition: left .5s ease;
}

.tools-container.right {
  left: auto;
  right: 0;
}

.tools {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 32px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
  width: 32px;
}

.tools header {
  cursor: pointer;
  position: absolute;
  width: 200px;
}

.tools .content {
  padding: 8px;
  position: absolute;
  top: 32px;
  box-sizing: border-box;
  width: 200px;
  max-height: calc(300px - 32px);
  overflow-y: auto;
}

.tools i.icon{
  height: 16px;
  margin: 8px;
  width: 16px;
}

.tools.focused {
  height: 300px;
  width: 200px;
}

.checkbox {
  display: block;
  cursor: pointer;
  margin: 4px 0;
}

.checkbox .fas {
  margin-right: 8px;
}

.dropdown {
  margin: 4px 0;
}

.dropdown label {
  display: block;
  margin: 0 0 4px 4px;
}

.dropdown select {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  width: 100%;
}

.todo-list-item {
  display: flex;
  margin: 2px 0;
  position: relative;
}

.todo-list-item .title {
  flex: 1;
}

.todo-list-item.done {
  opacity: 0.5;
}